.card {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.imagen {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titulo {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #3a2e25;
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0 0 0.8rem 0;
  color: #776b5d;
  font-size: 0.9rem;
}

.lista li {
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.precio {
  font-weight: bold;
  font-size: 1.1rem;
  color: #3a2e25;
  margin: 0.5rem 0;
  text-align: center;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.botones span {
  flex: 1;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b0a695;
  transition: background-color 0.3s ease;
}

.botones span:hover {
  background-color: #857d71;
}

.botones button {
  width: 100%;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
