
.materialSymbolsOutlinedCarrito {
    color: #776B5D;
    font-size: 50px;
    cursor: pointer;
 
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
  ;
  &:hover{
    color:  #B0A695;
    scale: 1.1;
   
  }
}

