.section {
  padding: 2rem 1rem;
  background-color: #f3eeea;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.sectionTitle {
  font-size: 2rem;
  color: #3a2e25;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 1rem;
  color: #776b5d;
  margin-bottom: 2rem;
}

.sectionGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
