.paquetes-card {
    place-items: center;
    
    position: relative;
    background-color: blanchedalmond;
    width: 90%;
    height: 60vh;
    left: 50%;
    transform: translateX(-50%);

    .foto-card {
        position: relative;
        padding: 8px;
        width: 100%;
        height: 50%;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .descripcion-card {

        height: 50%;

        .titulo-cards {
            font-family: "Open Sans";
            text-align: center;
            font-size: 1.4rem;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lista-card {
            position: relative;
            padding-left: 15%;
            list-style: none;
            width: 100%;
            height: 40%;
            color: white;
            font-size: 20px;
            font-family: "Open Sans";
            display: flex;
            flex-direction: column;
            
        }

        .precio-card {
            height: 30%;
            position: relative;
            font-family: "Open Sans";
            font-size: 1.5rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
    }


}