.paquetes-card {
    place-items: center;
    position: relative;
    background-color: blanchedalmond;
    width: 90%;
    height: 65vh;
    left: 50%;
    transform: translateX(-50%);
    .foto-card {
        position: relative;
        
        width: 100%;
        height: 60%;
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }

    .descripcion-card {

        height: 40%;

        .titulo-cards {
            text-align: center;
            height: min-content;
            padding: 2%;
            display: flex;
            align-items: center;
            justify-content: center;
            h1{
                
                color: white;
                font-size: 1.4rem;
                font-family: "Open Sans";
                font-weight: 800;
            }
        }


        .lista-card {
            position: relative;
            padding-left: 15%;
            list-style: none;
            width: 100%;
            height: 40%;
            color: white;
            font-size: 20px;
            font-family: "Open Sans";
            display: flex;
            flex-direction: column;
            
        }

        .precio-card {
            height: 30%;
            position: relative;
            font-family: "Open Sans";
            font-size: 1.5rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
        }
    }


}

.paquete-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
}


.CardPaquetesResumen{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
}
.botones-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        background-color: white;
        border: none;
        font-size: 1.2rem;
        color: #c88c8c;
        text-shadow: black 0px 1px;
        padding:0.6rem;
        border-radius: 999px;
        cursor: pointer;
        &:hover{
            background-color: rgb(207, 206, 206);
        }
    }
}
.modal{
    position: sticky;
    width: 80vw;
    left: 10%;
    height: 60vh;
    top: 20vh;
    background-color: blue;
    z-index: 99;
}

.link-romantico {
  background-color: #c88c8c;
}
.link-romantico:hover {
  background-color: #a86f6f;
}

.link-familiar {
  background-color: #88bdbc;
}
.link-familiar:hover {
  background-color: #6ea6a5;
}

.link-aventurero {
  background-color: #ff914d;
}
.link-aventurero:hover {
  background-color: #e27b35;
}

.link-naturaleza {
  background-color: #6baf5b;
}
.link-naturaleza:hover {
  background-color: #549646;
}

.link-relax {
  background-color: #9c8ec5;
}
.link-relax:hover {
  background-color: #8370b3;
}

.link-cultural {
  background-color: #f4b860;
}
.link-cultural:hover {
  background-color: #dca447;
}