.header {
    
    a{
        color: #776b5d;
        text-decoration: none;
    }
    width: 100%;
    position: relative;
    height: 14vh;
    background-color: #ffffff;
    color: white;
    display: flex;
    align-items: end;
    justify-content: space-around;
    padding-bottom: 50px;
    padding: 0 20px;
    padding-bottom: 0.5rem;
    &::after{
        position: absolute;
        border-bottom: 4px solid #776b5d;
        content: "";
        top: 100%;
        width: 75%;
       
        left: 12.5%;
        z-index: 1;
    }
   
}
.title {
    color: black;
}
.navigation {
    padding-right: 2%;
    height: 100%;
    display: flex;
    align-items: end;
}
.navigationList{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        
         gap: 10%;
        li {
            transition: background 400ms;
            position: relative;
            
        }
}


.navbuttons {
  
    font-size: 1.5rem ;
    font-family: "Libre Baskerville", serif;
    background: none;
    border: none;
    cursor: pointer;
    color: #776b5d;
    text-decoration: none;
    font-weight: 400;
    &:hover {
        color: #000000;
        text-decoration: underline;
    }
}

.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200%;
    background-color: #bdb8af;
    list-style: disc;
    padding: 0.5rem;
    list-style-position: inside;
    padding-left: 10%;
    z-index: 100;
    display: flex;
    flex-direction: column;
     
    a {
        font-size: 1rem;
        color: #5a5147;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}



.opacityoff {
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
}

.opacityon {
    opacity: 1;
    transition: opacity 400ms;
}

.logocontainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    h1{
        color: #776b5d;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
          font-family: "Libre Baskerville", serif;
    }
    img {
        position: relative;
        left: -40%;
        width: 100%;
        height: 90%;
        
        &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
            cursor: pointer;
        }
    }
}
.userBox{
    position: absolute;
    top: 100%;
    z-index: 99;
    left:0;
    width: 20vw;
    height: 20vh;
    background-color: black;
    .f{
        position: absolute;
        top:10%;
    }
}
.userBoxClosed{
    display: none;
    opacity: 0;
}
.userBoxOpen{
    display: flex;
    
}
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #aaa;
}

/* HAMBURGUESA */
.hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburguesa span {
  width: 25px;
  height: 3px;
  background: white;
  transition: all 0.3s ease;
}

.hamburguesa {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
  margin-left: 1rem;
}

.hamburguesa span {
  width: 24px;
  height: 3px;
  background-color: #776b5d;
  transition: all 0.3s ease;
}

.hamburguesa.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburguesa.open span:nth-child(2) {
  opacity: 0;
}
.hamburguesa.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.open{
    position: absolute;
    top: 20px;
    left: 100vw;
    
    transform: translateX(-200%);
    z-index: 100000;
    span{
        background-color: black;
    }
}
.navbarLinks {
  display: none;
  flex-direction: column;
  background-color: #9c9993;

  padding: 1rem;
  left: 100vw;
  width: 50vw;
  transform: translateX(-100%);
  position: fixed;
  top: 0%;
  height: 100vh;
  z-index: 999;
  gap: 0.5rem;
  padding-top: 10%;
}

.navbarLinks a {

      color: rgb(26, 25, 25);
    
font-size: 1.4rem;
  text-decoration: none;
  padding: 0.5rem 0;
  transition: color 0.3s;
  &:hover{
    color: #30281f;
  }
}

.navbarLinks a:hover {
  color: #ccc;
}

.active {
  display: flex;
}










.userBox {
  position: absolute;
  top: 130%;
  right: 0;
  transform: translateX(-25%);
  background-color: #f3e9dc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: max-content;
  height: min-content;
  z-index: 10;
}



.options {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.options a {
  height: 100%;
  cursor: pointer;

  &:hover {
    background-color: #bbb3a8;

    li {
    
        background-color: #bbb3a8;

      
    }

    
  }
}

.options li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: #5e4b41;
  cursor: pointer;
  pointer-events: none;
}

.icon {
  font-size: 2rem;

}

.logout {
  background-color: #5e4b41;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.4rem 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  cursor: pointer;
  display: block;
  width: 100%;
  &:hover{
    background-color: #302621;
  }

}

.userBox::before {
  content: "";
  position: absolute;
  top: -14px;
  /* arriba del menú */
  left: 50%;
  transform: translateX(-12.4px);
  /* alineado al botón */
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 20px solid #f3e9dc;
  /* color del menú */
}


/* Mostrar hamburguesa solo en pantallas pequeñas */
@media (max-width: 768px) {
  .hamburguesa {
    display: flex;
  }
  .navbarPc{
    display: none !important;
  }
  .navigation{
    align-items: center;
  
   
  }
   .header{
        height: 10vh;
        justify-content: space-between;
        
        padding: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        &::after{
            width: 100%;
            left: 0;
        }
    }
    .navbuttons{
        font-size: 1rem
    }
    .logocontainer{
        img{
            width: 50px;
            height: auto;
        }
    }
}


