.main {
  min-width: 100%;
  height: max-content;
  background-color: #F3EEEA;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  position: relative;
}

.contactoContainer {
  position: relative;
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.textoContacto {
  position: relative;
  max-width: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: #776B5D;
}

.listaRedes ol {
  list-style: none;
  padding: 0;
}

.listaRedes li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.listaRedes img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.listaRedes p,
.listaRedes a {
  margin: 0;
  color: #5c3b2e;
  font-family: 'Segoe UI', sans-serif;
}


.seccionForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

.seccionFormTitle {
  color: #776b5d;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.seccionForm form {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.seccionForm h1 {
  position: relative;

}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);

}

.formGroup label {
  font-family: 'Open Sans', Times, serif;
  font-weight: 700;
  color: #787878;
}

.infoForm {
  resize: none;
  font-family: 'Open Sans', Times, serif;
  font-weight: 400;
  border: none;
  caret-color: black;
  background-color: #efebe3;
  padding: 1rem;
  height: 3.5rem;
  width: 100%;
  border-radius: 15px;
  color: black;
}

.infoForm:-webkit-autofill {
  -webkit-text-fill-color: black;
  transition: background-color 9888s ease-in-out 0s;

}

.formGroup textarea {
  overflow: hidden;
  height: 7rem;
}

.formButton {
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b0a695;
  color: white;
  border-radius: 999px;
  padding: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  border: none;
  margin-top: 2rem;

  &:hover {
    background-color: #686258;
    transition: all 500ms;
  }
}