body{
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  transition: background-color 9999s ease-in-out 0s !important;

}
body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
}

.icono{
  color: black;
  font-size: 5rem;
  cursor: pointer;
  &:hover
  {
    color: #ffffff;
  }
}