.VuelosSection{
   
    min-height: 100vh;
    background-color: #f3eeea;
    width: 100vw;
    
}
.grid{
     display: grid;
     height: 100%;
     width: 80%;
     position: relative;
     left: 10%;
     grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
     place-items:start center;
    padding: 1rem;
    gap: 1rem;
}
